<div class="collection-tag-selector">
  {% assign fallback = '' %}
  {% if collection.handle %}
    {% capture link %}/collections/{{ collection.handle }}{% endcapture %}
    {% assign fallback = link %}
  {% elsif collection.products.first.type == collection.title %}
    {% capture link %}{{ collection.title | url_for_type }}{% endcapture %}
    {% assign fallback = link %}
  {% elsif collection.products.first.vendor == collection.title %}
    {% capture link %}{{ collection.title | url_for_vendor }}{% endcapture %}
    {% assign fallback = link %}
  {% endif %}
  <div class="select-wrapper">
    <div class="selected-text">
      {% if current_tags %}
        {{ current_tags.first }}
      {% else %}
        {{ 'collections.collection.browse' | t }}
      {% endif %}
    </div>
    <select data-fallback-url="{{ fallback }}">
      {% if current_tags %}
        <option value="reset" name="reset">-- {{ 'collections.collection.clear' | t }} --</option>
      {% else %}
        <option value="browse" name="browse" selected disabled>{{ 'collections.collection.browse' | t }}</option>
      {% endif %}
      {% for tag in collection.all_tags %}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
        {% if current_tags contains tag %}
          <option value="{{ tag | handle }}" name="{{ tag | handle }}" selected>{{ tag }}</option>
        {% else %}
          <option value="{{ tag | handle }}" name="{{ tag | handle }}">{{ tag }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
</div>