{% assign per_row = section.settings.products-per-row %}
{% assign product_rows = section.settings.product-rows %}
{% assign collection = section.settings.collection %}
{% assign product_limit = product_rows | times: per_row %}

<div class="module-wrapper style-{{ section.settings.style }} border">
  <div class="module home-products">

    {% if section.settings.title != blank %}
      <div class="module-header home-products-header">
        <h3 class="module-title">
          {{ section.settings.title | escape }}
        </h3>

        {% if section.settings.subtitle != blank %}
          <p class="module-subtitle">
            {{ section.settings.subtitle | escape }}
          </p>
        {% endif %}
      </div>
    {% endif %}

    <div class="module-body home-products-body">
      <div class="list compact crop image-contain column-{{ per_row }}">
        {% for product in collections[section.settings.collection].products limit: product_limit %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
          {%
            include 'product-list-item',
            excludeCover: true
          %}
        {% else %}
          {% for i in (1..product_limit) %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}

            {%- capture placeholder_image -%}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg list-image' }}
            {%- endcapture -%}
            {% assign title = 'onboarding.featured_collection.product_title' | t %}

            {% include
              'product-list-item',
              onboarding: true,
              onboarding_image: placeholder_image,
              onboarding_title: title,
              onboarding_price: 0,
              excludeCover: true
            %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    {% if section.settings.button_text != blank and collections[section.settings.collection] != empty %}
      <div class="module-footer home-products-footer">
        <a class="button" href="{{ collections[section.settings.collection].url }}">
          {{ section.settings.button_text | escape }}
        </a>
      </div>
    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Background style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "light",
          "label": "Light"
        }
      ],
      "default": "default"
    },
    {
      "type": "range",
      "id": "products-per-row",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "product-rows",
      "label": "Number of rows",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Featured collection"
    }
  ]
}

{% endschema %}